
nav {
	background-color: slategrey;
}

container {
	padding: 5px;
	margin: 5px;
}

body {
	min-height: 100vh;
	margin: 0;
    background-color: whitesmoke;
	border-bottom: 20px solid slategrey;
	padding-top: 1px;
}

img-thumbnail {
	max-width: 100%;
	height: auto;
}

.icon-bar {
   background-color:#1e609e !important;
}


thumbnail {
	max-width: 100%;
	height: auto;
}

h1 {
    color: steelblue;
	border-bottom: 2px solid slategrey;
}

h3 {
	color: steelblue;
}
col-lg-2 col-md-2 col-sm-12 {
	background-color: white;
    padding: 20px;
	margin: 5px;
 
}

col-lg-8 col-md-8 col-sm-12 {
	background-color: white;
    padding: 20px;
	margin: 5px;
}
panel panel-default {
	background-color: white;
	padding: 0px;
	margin: 5px;
}




